<nav class="navbar navbar-expand-lg navbar-dark bg-danger px-4 py-2 shadow-sm">

  <!-- Logo -->
  <a
    class="navbar-brand fw-bold fs-4 d-flex align-items-center gap-2"
    routerLink="/">

    🚌 BusBook

  </a>

  <!-- Toggle -->
  <button
    class="navbar-toggler border-0"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav">

    <span class="navbar-toggler-icon"></span>

  </button>

  <!-- Navbar -->
  <div class="collapse navbar-collapse" id="navbarNav">

    <!-- Center Links -->
    <ul class="navbar-nav mx-auto gap-lg-3 text-center">

      <!-- Home -->
      <li class="nav-item">

        <a
          routerLink="/"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="bg-light text-danger rounded-pill fw-bold"
          class="nav-link px-3">

          Home

        </a>

      </li>

      <!-- Routes -->
      <li class="nav-item">

        <a
          routerLink="/routes"
          routerLinkActive="bg-light text-danger rounded-pill fw-bold"
          class="nav-link px-3">

          Routes

        </a>

      </li>

      <!-- My Bookings -->
      <li
        class="nav-item"
        *ngIf="authService.isLoggedIn()">

        <a
          routerLink="/bookings"
          routerLinkActive="bg-light text-danger rounded-pill fw-bold"
          class="nav-link px-3">

          MyBookings

        </a>

      </li>

    </ul>

    <!-- Right Side -->
    <div class="d-flex gap-2 mt-3 mt-lg-0">

      <!-- Not Logged In -->
      <ng-container *ngIf="!authService.isLoggedIn()">

        <button
          routerLink="/login"
          class="btn btn-outline-light rounded-pill px-3">

          Login

        </button>

        <button
          routerLink="/signup"
          class="btn btn-light text-danger fw-semibold rounded-pill px-3">

          Sign Up

        </button>

      </ng-container>

      <!-- Logged In -->
      <ng-container *ngIf="authService.isLoggedIn()">

        <button
          routerLink="/profile"
          class="btn btn-light text-danger fw-semibold rounded-pill px-3">

          My Profile

        </button>

        <button
          (click)="logout()"
          class="btn btn-outline-light rounded-pill px-3">

          Logout

        </button>

      </ng-container>

    </div>

  </div>

</nav>
