<nav class="navbar navbar-expand-lg navbar-dark bg-danger px-4 py-2 shadow-sm">

  <!-- Logo (LEFT) -->
  <a class="navbar-brand fw-bold fs-4 d-flex align-items-center gap-2" routerLink="/">
    🚌 BusBook
  </a>

  <!-- Toggle -->
  <button 
    class="navbar-toggler border-0" 
    type="button" 
    data-bs-toggle="collapse" 
    data-bs-target="#navbarNav"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Content -->
  <div class="collapse navbar-collapse" id="navbarNav">

    <!-- CENTER LINKS -->
    <ul class="navbar-nav mx-auto gap-lg-3 text-center">

      <li class="nav-item">
        <a class="nav-link fw-semibold px-3 active" routerLink="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link fw-semibold px-3" routerLink="/routes">Routes</a>
      </li>

      <!-- ✅ Only after login -->
      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a class="nav-link fw-semibold px-3" routerLink="/bookings">MyBookings</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link fw-semibold px-3" routerLink="">Helps</a>
      </li>

    </ul>

    <!-- RIGHT SIDE -->
    <div class="d-flex align-items-center gap-2 mt-3 mt-lg-0">

      <!-- Help -->
      

      <!-- ❌ NOT LOGGED IN -->
      <ng-container *ngIf="!authService.isLoggedIn()">

        <button class="btn btn-outline-light rounded-pill px-3" routerLink="/login">
          Login
        </button>

        <button class="btn btn-light text-danger fw-semibold rounded-pill px-3" routerLink="/signup">
          Sign Up
        </button>

      </ng-container>

      <!-- ✅ LOGGED IN -->
      <ng-container *ngIf="authService.isLoggedIn()">

        <button class="btn btn-light text-danger fw-semibold rounded-pill px-3" routerLink="/profile">
          My Profile
        </button>

        <button class="btn btn-outline-light rounded-pill px-3" (click)="logout()">
          Logout
        </button>

      </ng-container>

    </div>

  </div>

</nav>