<div class="container-fluid p-0">

  <!-- HERO -->
  <div class="hero-section">

    <div class="hero-content">
      <h1 class="fw-bold display-4">
        India's Best Online <br> Bus Booking Platform
      </h1>

      <p class="mt-3 fs-5 opacity-75">
        Book tickets instantly with best prices 🚀
      </p>
    </div>

    <!-- Search -->
    <div class="search-overlay">
      <div class="search-card">

        <form #searchForm="ngForm">

          <div class="row g-2 align-items-center">

            <!-- From -->
            <div class="col-md-3">
              <input type="text" class="form-control form-control-lg" placeholder="From" name="from" [(ngModel)]="from"
                required #fromRef="ngModel">

              <small class="text-danger" *ngIf="fromRef.invalid && fromRef.touched">
                From city is required
              </small>
            </div>

            <!-- Swap -->
            <div class="col-md-1 text-center">
              <button type="button" class="btn btn-light rounded-circle fw-bold fs-5" (click)="swapCities()">
                ⇄
              </button>
            </div>

            <!-- To -->
            <div class="col-md-3">
              <input type="text" class="form-control form-control-lg" placeholder="To" name="to" [(ngModel)]="to"
                required #toRef="ngModel">

              <small class="text-danger" *ngIf="toRef.invalid && toRef.touched">
                To city is required
              </small>
            </div>

            <!-- Date -->
            <div class="col-md-3">
              <input type="date" class="form-control form-control-lg" name="date" [(ngModel)]="date" required
                [min]="todayDate" #dateRef="ngModel">

              <small class="text-danger" *ngIf="dateRef.touched && !date">
                Date is required
              </small>

              <small class="text-danger" *ngIf="dateRef.touched && date && date < todayDate">
                Previous date is not allowed
              </small>
            </div>

            <!-- Button -->
            <div class="col-md-2 d-grid">
              <button type="button" class="btn btn-danger btn-lg fw-bold" (click)="search()"
                [disabled]="searchForm.invalid || date < todayDate">
                Search
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>

</div>
